*
  box-sizing: border-box

body
  font-family: Arial

h1
  font-size: 16px
  font-weight: bold
  text-align: center
  margin: 45px 0 0

.Checkbox, .Input, .Select
  padding: 50px
  border-radius: 5px
  border: 1px solid #CCC
  background: #FAFAFA
  width: 500px
  margin: 10px auto
  box-sizing: border-box
  position: relative
